::-webkit-scrollbar{
    width: "1px" !important;
    background-color: "red" !important;
    color: "yellow" !important;
}

::-webkit-scrollbar-track{
    width: "1px" !important;
    background-color: "red" !important;
    color: "yellow" !important;
}